<div class="chatroom">
  <div class="list-group-item active">
    <h2>Chatarama!</h2>
  </div>
  <div class="list-group-item messages">
    <ul>
      <p> <strong>Martin: </strong> Some fake message
      </p>
    </ul>
  </div>
  <img src="<%= @url %>" />
</div>
